<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {{>navbar data=details}}
   
   {{!-------right side image------}}
   
        <div class="col-md-6 text-center py-5 ">
          {{!-- right side image --}}
          <img src="/static/images/gp1.avif" alt="" style="max-height:850px;" />

        </div>

    
        <div class="col-md-6 text-center  ">
          {{!-- left side image --}}
          <img src="/static/images/gp2.avif" class="img-fluid" alt="" style="max-height:850px;" />

        </div>

        <div class="col-md-6 text-center  ">
          {{!-- left side image --}}
          <img src="/static/images/grap1.svg" class="img-fluid" alt="" style="max-height:850px;" />

        </div>
      




    
   

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
